.about_container{
    width: 100%;
    background-color: #F5F5F5;
}

.about_hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.5)), url('/about_page_hero.jpg'); /* blurs background image */
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0 2rem;
    width: 100vw;
    flex-direction: column;
}




@media only screen and (max-width: 768px) {
    .about_hero {
      background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.5)), url('/about_page_hero.jpg'); 
      background-position: bottom;
      background-repeat:  no-repeat;
      /* background-attachment: fixed; */
      background-size: cover;
    }
  }