.contacts_container{
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
}

.contacts_hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('/contact_page.jpg'); /* blurs background image */
    background-position: center;
    background-repeat:  no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    padding: 0 2rem;
    width: 100vw;
    height: 250px;
    flex-direction: column;
}

.address {
    all: initial;
}

@media only screen and (max-width: 768px) {
    .contacts_hero {
      background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.5)), url('/contact_page.jpg'); 
      background-position: bottom;
      background-repeat:  no-repeat;
      /* background-attachment: fixed; */
      background-size: cover;
    }
  }