.container{
  background-image: url('/landing_page.jpg');
  /* background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url('/landing_page.jpg'); */ /*blurs background image*/
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 0 2rem;
  height: auto;
  width: 100vw;
  }