.services_container{
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
}

.services_hero{
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url('/service_page.jpg'); 
    background-position: center bottom;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0 2rem;
    width: 100vw;
    height: 500px;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}